$black-color: #4A4A4A;
$white-color: #FAFAFA;
$gray-color: #EFEFEF;
$aliceblue-color: #DAEFFE;
$shadow-color: rgba(0, 0, 0, 0.2);

$base-text-color: $black-color;
$base-background-color: $white-color;

$input-bg-color: #E6E6E6;
$button-bg-color: $aliceblue-color;
