.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 3px 3px $shadow-color;

  & &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $white-color;

    @include media(mobile up) {
      display: flex;
    }
  }

  & &__item {
    white-space: nowrap;
  }

  & &__link {
    @include interactable($white-color);

    display: block;
    color: $orange-color;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
  }
}
